<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>SPIFedit</title>
<link rel="stylesheet" href="/static/spifedit.css">
</head>

<body>
<h1 id="title">X.841 - SPIFedit</h1>
<div id="errorzone"><p id="errorMsg">&nbsp;</p></div>

<div id="dropdown">
<label class="spifChoice" for="spifChoice">Security Policy Info. File </label>

<select  id="spifChoice" onchange='policySelect(this.select)'>
{% for item in items %}
	<option value='{{item.oid}}' {% if selected == item.oid %}selected{% endif %}>{{item.name}} - {{item.oid}}</option>
{% endfor %}
</select>

<div id="divClassifs">
<table id="tableClassifs" width=80% align=center >
<thead><tr>
<th>&nbsp;</th><th>&nbsp;</th><th>Name</th><th>Hierarchy</th><th>Label & Cert. Value</th>
</tr></thead>



<tbody id="tbodyClassifs"><tr>
{% for classif in classifs %}
<tr class='trClassifs'>
	<td class='delClassifButtons'>
		<input id ='{{classif.name}}' class='delClassifButton' type='button' onClick='Delete_Ligne_Classif(this)' value='  Delete  '/>
	</td><td class='chgClassifButtons'>
		<input id ='{{classif.name}}' class='chgClassifButton' type='button' onClick='Change_Ligne_Classif(this)' value='  Change  '/>
	</td><td class='name'>
		{{classif.name}}
	</td><td class='hierarchy'>
		<input id='{{classif.name}}' class='hierarchyInput' type='number' value='{{classif.hierarchy}}'/>
	</td><td class='lacv'>
		<input id='{{classif.name}}' class='lacvInput' type='number' value='{{classif.lacv}}'/>
	</td>
</tr>
{% endfor %}
</tr></tbody>

<tfoot>
<tr><form id="formClassif" method="post" data-ajax = 'false'>
<td colspan = "2" align = "middle" ><input name='plus_button' type='button' onClick='Create_Ligne_Add_Classif()' value='  +  '></td>
<td><input type="text" name="name"/></td>
<td><input type="number" name="hierarchy"/></td>
<td><input type="number" name="lacv"/></td>
</form></tr>
</tfoot>
</table>
</div>
</table>
</div>

 <script src="/static/spifedit.js"></script>
</body>
</html>